* {
    margin:0px;
    padding:0px;
   }
   
   #header {
    position:absolute;
    top:0px;
    margin:auto;
    
    font-family:Arial, Helvetica, sans-serif;
   }
   
   ul, ol {
    list-style:none;
   }
   
   .nav2 > li {
    float:left;
   }
   
   .nav2 li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 43.7px;
    display:block;
    
    
   }
   
   .nav2 li a:hover {
    background-color:#434343;
   }
   
   .nav2 li ul {
    display:none;
    position:absolute;
    min-width:140px;
   }
   
   .nav2 li:hover > ul {
    display:block;
   }
   
   .nav2 li ul li {
    position:relative;
   }
   
   .nav2 li ul li ul {
    right:-140px;
    top:0px;
   }