/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-nov-2019, 12:34:04
    Author     : Alvaro Martínez
*/
.noticiaL{
position:absolute;
 top:700px;
left:30px;
padding-top:px;    
width:950px;
height:520px;
border:5px;
border-radius:10px;
background-color:whitesmoke;

    
}




h6{
	text-align:center;
	font-family: 'fjalla one', sans-serif;
	font-size:30px;
    
    
   
}
